{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/css/Page/cart.css">
{% endblock %}

{% block title  %}{% endblock %}

{% block content %}
    <a href="/marketplace"> Marketplace</a>

    <div>
        <div class="cart">
            <h1>Panier</h1>

            {% for product in products %}
                <div class="product">
                    <div class="content">
                        <a href="/images/product/{{ product.image1 }}"><div class="image" style="background-image: url('/images/product/{{ product.image1 }}')"></div></a>

                        <div class="imagecontentline"></div>

                        <div>
                            <a href="/marketplace/product/{{ product.id }}"><h2>{{ product.name }}</h2></a>
                            <p>{{ product.price }} &euro;</p>
                        </div>
                    </div>

                    <a href="/marketplace/removeFromCart/{{ product.id }}"><i class="fa-solid fa-delete-left"></i></a>
                </div>
            {% endfor %}
        </div>

        <div class="recapitulatif">
            <div class="middleLine"></div>

            <div class="content">
                <h1>Récapitulatif</h1>

                <div>
                    <div>
                        <p>Sous-total</p>
                        <p>{{ total }} &euro;</p>
                    </div>

                    <div>
                        <p>Frais estimés</p>
                        <p>{{ total/100 * 5 }} &euro;</p>
                    </div>
                </div>

                <div class="line"></div>

                <div>
                    <div>
                        <p>Total</p>
                        <p>{{ total + total/100 * 5 }} &euro;</p>
                    </div>
                </div>

                <div class="line"></div>

                <a href="/marketplace/information">Paiement</a>
            </div>
    </div>
{% endblock %}