{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/css/Backoffice/list.css">
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Marketplace back office</h1>

    <table border=1>
        <thead>
            <tr>
                <td>Nom du produit</td>
                <td>Catégorie</td>
                <td>Description</td>
                <td>Prix</td>
                <td>Actions</td>
            </tr>
        </thead>

        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="/marketplace/product/{{ product.id }}">{{ product.name }}</a></td>
                <td>{{ product.category }}</td>
                <td class="description">{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td><button><a href="/admin/marketplace/delete/{{ product.id }}">Delete</a></button></td>
            </tr>
        {% endfor %}

            <tr>
                <td colspan="10" style="text-align: center"><a href="/admin/marketplace/create">+</a></td>
            </tr>

        </tbody>
    </table>

{% endblock %}